.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/storage
public/css/filament
public/js/filament
public/fonts/filament
storage/app/private/*
storage/app/public/*
storage/backups/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
database/*.sqlite
docs
tests
